In [1]:
import numpy as np
import pandas as pd

In [2]:
import urllib.request
from pathlib import Path
import os
path = Path()

# Dictionary of file names and download links
files = {'listings.csv':'http://data.insideairbnb.com/united-states/ny/new-york-city/2020-09-07/visualisations/listings.csv'}

# Download each file
for key,value in files.items():
    filename = path/key
    url = value
    # If the file does not already exist in the directory, download it
    if not os.path.exists(filename):
        urllib.request.urlretrieve(url,filename)

In [3]:
Airbnb = pd.read_csv('listings.csv')
Airbnb.shape

(45756, 16)

In [4]:
print(list(Airbnb.columns))

['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']

In [5]:
# Keep columns that would be useful for analysis
AirbnbInfo = Airbnb[['id','name','latitude','longitude', 'room_type', 'price', 'availability_365']]

In [6]:
AirbnbInfo.head()

,id,name,latitude,longitude,room_type,price,availability_365
0,2595,Skylit Midtown Castle,40.75362,-73.98377,Entire home/apt,175,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",40.68514,-73.95976,Entire home/apt,76,272
2,5121,BlissArtsSpace!,40.68688,-73.95596,Private room,60,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",40.66120,-73.99423,Entire home/apt,175,352
4,5178,Large Furnished Room Near B'way,40.76489,-73.98493,Private room,79,346

In [7]:
# Drop the rows with zero availability of a year
AirbnbInfo = AirbnbInfo[AirbnbInfo['availability_365'] != 0]
AirbnbInfo = AirbnbInfo.reset_index(drop=True)
AirbnbInfo

,id,name,latitude,longitude,room_type,price,availability_365
0,2595,Skylit Midtown Castle,40.753620,-73.983770,Entire home/apt,175,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",40.685140,-73.959760,Entire home/apt,76,272
2,5121,BlissArtsSpace!,40.686880,-73.955960,Private room,60,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",40.661200,-73.994230,Entire home/apt,175,352
4,5178,Large Furnished Room Near B'way,40.764890,-73.984930,Private room,79,346
...,...,...,...,...,...,...,...
25643,45327718,Spacious 1 Queen Bedroom in Central Park,40.802660,-73.958360,Private room,53,365
25644,45329132,"5,000 sq ft Downtown Brooklyn Penthouse",40.687770,-73.982390,Private room,79,361
25645,45329491,Spacious 1 Queen Bedroom in Tribeca,40.713630,-74.008470,Private room,70,364
25646,45329984,Spacious 1 Full Bedroom in Murray Hill,40.744800,-73.977500,Private room,59,365
25647,45330395,Cozy Studio in a Brand New Building,40.767254,-73.990176,Entire home/apt,75,336

In [8]:
# Store the cleaned data to a new csv file
AirbnbInfo.to_csv('Cleaned_Airbnb.csv')