In [36]:
import pandas as pd
import numpy as np
import csv

In [3]:
df = pd.read_csv('NYPD_Complaint_Data_Historic-2.csv')
df.head()

/Users/tylin/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (18,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,724718389,09/04/2014,17:25:00,09/04/2014,17:35:00,81.0,09/04/2014,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,NaN,NaN,40.685041,-73.921777,"(40.685040958, -73.921776995)",PATROL BORO BKLYN NORTH,NaN,25-44,WHITE,F
1,191133903,10/12/2016,07:40:00,10/12/2016,07:45:00,121.0,10/12/2016,109,GRAND LARCENY,417.0,...,U,NaN,40.636991,-74.134093,"(40.63699139, -74.134092508)",PATROL BORO STATEN ISLAND,NaN,45-64,WHITE HISPANIC,F
2,720151206,09/28/2012,13:30:00,09/28/2012,14:00:00,41.0,10/19/2012,109,GRAND LARCENY,413.0,...,M,NaN,40.823876,-73.891863,"(40.823876276, -73.891862968)",PATROL BORO BRONX,NaN,45-64,WHITE HISPANIC,F
3,232242098,03/24/2015,15:45:00,NaN,NaN,46.0,03/24/2015,341,PETIT LARCENY,339.0,...,M,NaN,40.845707,-73.910398,"(40.845707148, -73.910398033)",PATROL BORO BRONX,NaN,<18,WHITE HISPANIC,F
4,708078702,05/20/2017,04:02:00,05/20/2017,04:09:00,109.0,05/20/2017,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,M,NaN,40.763992,-73.828426,"(40.763991557, -73.828425559)",PATROL BORO QUEENS NORTH,NaN,25-44,BLACK,M

In [7]:
# Choose specific columns
df_new = df[['CMPLNT_FR_DT','Latitude','Longitude','PATROL_BORO']]
df_new.head()

  CMPLNT_FR_DT   Latitude  Longitude                PATROL_BORO
0   09/04/2014  40.685041 -73.921777    PATROL BORO BKLYN NORTH
1   10/12/2016  40.636991 -74.134093  PATROL BORO STATEN ISLAND
2   09/28/2012  40.823876 -73.891863          PATROL BORO BRONX
3   03/24/2015  40.845707 -73.910398          PATROL BORO BRONX
4   05/20/2017  40.763992 -73.828426   PATROL BORO QUEENS NORTH

In [9]:
#drop null values
df_new = df_new.dropna()

In [16]:
#only keep 2019 data
df_new['CMPLNT_FR_DT'] = df_new['CMPLNT_FR_DT'].str.split('/').str.get(2)
df_final = df_new[df_new['CMPLNT_FR_DT'] == '2019']

        CMPLNT_FR_DT   Latitude  Longitude                PATROL_BORO
0               2014  40.685041 -73.921777    PATROL BORO BKLYN NORTH
1               2016  40.636991 -74.134093  PATROL BORO STATEN ISLAND
2               2012  40.823876 -73.891863          PATROL BORO BRONX
3               2015  40.845707 -73.910398          PATROL BORO BRONX
4               2017  40.763992 -73.828426   PATROL BORO QUEENS NORTH
...              ...        ...        ...                        ...
6983202         2014  40.808374 -73.946886      PATROL BORO MAN NORTH
6983203         2012  40.648648 -73.967731    PATROL BORO BKLYN SOUTH
6983204         2013  40.716045 -73.964163    PATROL BORO BKLYN NORTH
6983205         2015  40.735211 -73.991691      PATROL BORO MAN SOUTH
6983206         2012  40.667573 -73.907296    PATROL BORO BKLYN NORTH

[6953025 rows x 4 columns]

In [31]:
#sample only 10000 data
df_sample= df_final.sample(n=10000)
df_sample

        CMPLNT_FR_DT   Latitude  Longitude               PATROL_BORO
4518262         2019  40.747044 -73.987128     PATROL BORO MAN SOUTH
4305316         2019  40.690658 -73.864497  PATROL BORO QUEENS SOUTH
4204583         2019  40.719956 -73.938616   PATROL BORO BKLYN NORTH
4099675         2019  40.679284 -73.929059   PATROL BORO BKLYN NORTH
4267311         2019  40.848972 -73.908879         PATROL BORO BRONX
...              ...        ...        ...                       ...
4214347         2019  40.763284 -73.971642     PATROL BORO MAN SOUTH
4525035         2019  40.765421 -73.743659  PATROL BORO QUEENS NORTH
4507381         2019  40.752552 -73.767761  PATROL BORO QUEENS NORTH
4457097         2019  40.692967 -73.896857  PATROL BORO QUEENS NORTH
4117887         2019  40.718440 -73.982938     PATROL BORO MAN SOUTH

[10000 rows x 4 columns]

In [40]:
#export to csv
Result ='/Users/tylin/Downloads/sampled crime.csv'

df_sample.to_csv( Result, index=False )